<ul>
    <li>@Html.ActionLink("Home", "index", "home")</li>
    <li>@Html.ActionLink("Dogs", "dogs", "dog")</li>
    <li>@Html.ActionLink("Contact", "contact", "home")</li>
    <li>@Html.ActionLink("Arrival", "arrival", "home")</li>
    <li class="s">@Html.ActionLink("Registration", "registration", "user")</li>
    <li class="s">@Html.ActionLink("Login", "login", "user")</li>
</ul>

