@model HushPuppies_N_M.Models.Dog


<div class="containerTable">
    <table class="table1">
        <tr>
            <td class="bild">
                <img src="~/Content/images/pitbull.jpg" />
            </td>
            <td width="20%;">
                @Model.Name
            </td>
            <td width="10%;">
                @Model.Expirience
            </td>
            <td width="20%;">
                @Model.Birthdate
            </td>
            <td width="20%;">
                @Model.Informations
            </td>
            <td width="20%;">
                @Model.Description
            </td>
        </tr>

        <tr>
            <td class="bild">

                <img src="~/Content/images/pomeranian.jpg" />

            </td>
            <td>
                @Model.Name
            </td>
            <td>
                @Model.Expirience
            </td>
            <td>
                @Model.Birthdate
            </td>
            <td>
                @Model.Informations
            </td>
            <td>
                @Model.Description
            </td>
        </tr>

        <tr>
            <td class="bild">

                <img src="~/Content/images/chowchow.jpg" />

            </td>
            <td>
                @Model.Name
            </td>
            <td>
                @Model.Expirience
            </td>
            <td>
                @Model.Birthdate
            </td>
            <td>
                @Model.Informations
            </td>
            <td>
                @Model.Description
            </td>
        </tr>
        <tr>
            <td class="bild">

                <img src="~/Content/images/rottweiler.jpg" />

            </td>
            <td>
                @Model.Name
            </td>
            <td>
                @Model.Expirience
            </td>
            <td>
                @Model.Birthdate
            </td>
            <td>
                @Model.Informations
            </td>
            <td>
                @Model.Description
            </td>
        </tr>
        <tr>
            <td class="bild">

                <img src="~/Content/images/labrador.jpg" />

            </td>
            <td>
                @Model.Name
            </td>
            <td>
                @Model.Expirience
            </td>
            <td>
                @Model.Birthdate
            </td>
            <td>
                @Model.Informations
            </td>
            <td>
                @Model.Description
            </td>
        </tr>
        <tr>
            <td class="bild">

                <img src="~/Content/images/husky.jpg" />

            </td>
            <td>
                @Model.Name
            </td>
            <td>
                @Model.Expirience
            </td>
            <td>
                @Model.Birthdate
            </td>
            <td>
                @Model.Informations
            </td>
            <td>
                @Model.Description
            </td>
        </tr>
        <tr>
            <td class="bild">

                <img src="~/Content/images/beagle.jpg" />

            </td>
            <td>
                @Model.Name
            </td>
            <td>
                @Model.Expirience
            </td>
            <td>
                @Model.Birthdate
            </td>
            <td>
                @Model.Informations
            </td>
            <td>
                @Model.Description
            </td>
        </tr>
    </table>
</div>