@model List<HushPuppies_N_M.Models.Dog>

@using HushPuppies_N_M.Models

<h1>Dogs</h1>

@if (Model != null && Model.Count >= 1)

{

    <table>
        <thead>
            <tr class="dogh">
                <td></td>
                <td>Name</td>
                <td>Difficulty level (max.5)</td>
                <td>Birthday</td>
                <td>Informations</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody class="body1">
            @foreach (Dog d in Model)
            {
            <tr>
                <td width="20%"> <img class="imageDog" src="@d.Image" /> </td>
                <td width="20%"> @d.Name </td>
                <td width="20%"> @d.Expirience </td>
                <td width="20%"> @d.Birthdate.ToLongDateString() </td>
                <td width="20%"> @d.Informations </td>
                <td width="20%"> @d.Description </td>


            </tr>
            }
        </tbody>
        
    </table>
}

else
{
    <p>
        No founded Dogs
    </p>
}

