@model List<HushPuppies_N_M.Models.Dog>

@using HushPuppies_N_M.Models

@if (Model != null && Model.Count >= 1)
{

    <table>
        <thead>
            <tr>
                <td colspan="6">Dog</td>
            </tr>
            <tr>
                <td> Vorname </td>
                <td> Nachname </td>
                <td> Geburtsdatum </td>
                <td> Geschlecht </td>
                <td> Gehalt </td>
                <td> Abteilung </td>
            </tr>
        </thead>
        <tbody>
            @foreach (Dog d in Model)
            {
            <tr>
                <td> <img class="imageDog" src="@d.Image" /> </td>
                <td> @d.Name </td>
                <td> @d.Expirience </td>
                <td> @d.Birthdate.ToLongDateString() </td>
                <td> @d.Informations </td>
                <td> @d.Description </td>


            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">Tabellenfußbereich</td>
            </tr>
        </tfoot>
    </table>
}

else
{
    <p>
        No founded Dogs
    </p>
}







@*<img src="~/Content/images/pitbull.jpg" />

    <img src="~/Content/images/pomeranian.jpg" />


    <img src="~/Content/images/chowchow.jpg" />


    <img src="~/Content/images/rottweiler.jpg" />


    <img src="~/Content/images/labrador.jpg" />


    <img src="~/Content/images/husky.jpg" />


    <img src="~/Content/images/beagle.jpg" />*@
