@model HushPuppies_N_M.Models.User

@using (Html.BeginForm())
{
    <table>
        <thead>
            <tr>
                <td colspan="2">Login</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.LabelFor(u => u.Username, "Benutzername")</td>
                <td>@Html.TextBoxFor(u => u.Username, new { required = "required" })</td>
            </tr>
            
            <tr>
                <td>@Html.LabelFor(u => u.Password, "Passwort")</td>
                <td>@Html.PasswordFor(u => u.Password, new { required = "required" })</td>
            </tr>


            <tr>
                <td>@Html.LabelFor(u => u.Password2, "Passwort bestätigen")</td>
                <td>@Html.PasswordFor(u => u.Password2)</td>
            </tr>

            <tr>
                <td colspan="2" style="text-align:center">
                    <input type="submit" value="absenden" id="btnSubmit" />
                    <input type="reset" value="abbrechen" id="btnReset" />
                </td>

            </tr>
        </tbody>


    </table>
}